/* Version 09.10.26 */

/* This is only needed for IE6 */
body, html {
	width: 100%;
	height: 100%;
	margin: 0;
}

.AlertSetModalOverlay {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: 1000;
	background-color: black;
	filter: alpha(opacity=65);	/* For IE */
	opacity: .65;				/* For everyone else */
}
* html .AlertSetModalOverlay {
	position: absolute; /* For IE6 */
}

.AlertSetContainer {
	width: 630px;
	margin: 0;
	padding: 10px 12px 10px 10px;
	float: left;
	position: fixed;
	top: 200px;
	z-index: 1001;
	background-color: white;
	color: white;
}
* html .AlertSetContainer {
	position: absolute; /* For IE6 */
}

.AlertSet_info,
.AlertSet_success,
.AlertSet_warning,
.AlertSet_error,
.AlertSet_validation,
.AlertSet_question,
.AlertSet_mysql_debug,
.AlertSet_debug,
.AlertSet_image,
.AlertSet_caption,
.AlertSet_static,
.AlertSet_AJAX,
.AlertSet_iframe {
	width: 100%;
	border: 1px solid;
	margin: 0 0 5px;
	padding: 0;
	background-repeat: no-repeat;
	background-position: 10px center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
    max-height: 250px;
    overflow-y: scroll;
}

.AlertSet_caption > div,
.AlertSet_static > div,
.AlertSet_AJAX > div {
	margin: 10px;
}

.AlertSet_iframe iframe {
	margin: 0px;
	width: 100%;
	height: 480px;
	border: none;
}

.AlertSet_image {
	width: auto;
	margin: 0 -2px 10px 0;
	padding: 0;
	border: none;
	text-align: center;
}

.AlertSet_button {
	margin: 5px -2px 0 5px;
	padding: 5px 8px;
	float: right;
	cursor: pointer;
    background-color: #ccc;
	border: 1px solid #666;
    color: #666;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
}
* html .AlertSet_button {
	margin-right: -1px; /* For IE 6 */
}

.AlertSet_info ul, .AlertSet_info div,
.AlertSet_success ul, .AlertSet_success div,
.AlertSet_warning ul, .AlertSet_warning div,
.AlertSet_error ul, .AlertSet_error div,
.AlertSet_validation ul, .AlertSet_validation div,
.AlertSet_question ul, .AlertSet_question div,
.AlertSet_mysql_debug ul, .AlertSet_mysql_debug div,
.AlertSet_debug ul, .AlertSet_debug div {
	margin: 15px 10px 15px 50px;
	padding: 0;
	list-style: disc inside;
}

.AlertSet_info li,
.AlertSet_success li,
.AlertSet_warning li,
.AlertSet_error li,
.AlertSet_validation li,
.AlertSet_question li,
.AlertSet_mysql_debug li,
.AlertSet_debug li {
	margin: 0;
	padding: 0;
}

.AlertSet_mysql_debug ul{
	border-bottom: 1px dotted;
	list-style: none;
}

.AlertSet_info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('/images/AlertSet/icon_info.png');
}
.AlertSet_success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image: url('/images/AlertSet/icon_success.png');
}
.AlertSet_warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('/images/AlertSet/icon_warning.png');
}
.AlertSet_error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('/images/AlertSet/icon_error.png');
}
.AlertSet_validation {
    color: #D63301;
    background-color: #FFCCBA;
    background-image: url('/images/AlertSet/icon_validation.png');
}
.AlertSet_question {
    color: #5F5B84;
    background-color: #C9D2DC;
    background-image: url('/images/AlertSet/icon_question.png');
}
.AlertSet_mysql_debug {
    color: #6D431F;
    background-color: #EDC39F;
    background-image: url('/images/AlertSet/icon_mysql.png');
}
.AlertSet_debug {
    color: #454545;
    background-color: #BCBCBC;
    background-image: url('/images/AlertSet/icon_debug.png');
}
.AlertSet_caption {
	color: #666;
	background-color: #ccc;
}

.AlertSet_static,
.AlertSet_AJAX,
.AlertSet_iframe {
    border-color: #CCC;
	color: black;
    background-color: #fff;
}
