@charset "utf-8";
/* CSS Document */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	GENERAL
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    background: #eeeeee; /* Old browsers */
    background: -moz-linear-gradient(top,  #eeeeee 0%, #a0d8fc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#a0d8fc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #eeeeee 0%,#a0d8fc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #eeeeee 0%,#a0d8fc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #eeeeee 0%,#a0d8fc 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #eeeeee 0%,#a0d8fc 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#a0d8fc',GradientType=0 ); /* IE6-9 */

}

a {
    color: #0672BD;
    text-decoration: none;
}

a:hover {
    color: #069bf2;
    text-decoration: none;
}

h1 {
    color: #000;
    font-size: 26px;
}

h2 {
    color: #333;
    font-size: 22px;
}

h3 {
    color: #999;
    font-size: 18px;
}

p {
    margin: 10px 0;
}

ul, ol {
    margin: 10px 10px 10px 40px;
}

li {
    margin: 6px 0;
}

img {
    border: none;
}

hr {
    border: none 0;
    border-top: 2px dotted #000;
    height: 1px;
    margin: 20px auto;
}


.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

header {
    margin: 0 auto;
    clear: both;
    padding: 0;
    background-color: white;
    width: 100%;
    float: left;
}

div.logo {
    float: left;
}

div.logo a {
    float: left;
    height: 111px;
}

div.people {
    float: right;
    background: url('../images/header-right.png') no-repeat right;
    height: 111px;
    width: 750px;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
}

footer {
    background: #0672bd; /* Old browsers */
    background: -moz-linear-gradient(top,  #0672bd 0%, #045891 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0672bd), color-stop(100%,#045891)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #0672bd 0%,#045891 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #0672bd 0%,#045891 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #0672bd 0%,#045891 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #0672bd 0%,#045891 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0672bd', endColorstr='#045891',GradientType=0 ); /* IE6-9 */
    border-top: 1px solid #0794F1;
    border-bottom: 1px solid #0794F1;
    clear: both;
    height: 32px;
    float: left;
    width: 100%;
    position: relative;
}

nav
{
    background: #0672bd; /* Old browsers */
    background: -moz-linear-gradient(top,  #0672bd 0%, #045891 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0672bd), color-stop(100%,#045891)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #0672bd 0%,#045891 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #0672bd 0%,#045891 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #0672bd 0%,#045891 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #0672bd 0%,#045891 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0672bd', endColorstr='#045891',GradientType=0 ); /* IE6-9 */
    border-top: 1px solid #0794F1;
    border-bottom: 1px solid #0794F1;
    clear: both;
    float: left;
    width: 100%;
}

nav > div > ul > li > a:hover {
    border-top: 1px solid #CCC;
    color: #0672BD;

    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #eeeeee 0%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #eeeeee 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #eeeeee 0%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #eeeeee 0%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #eeeeee 0%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

nav > div > ul > li > ul > li > a:hover {
    color: #000;
    background: #D2EEFF;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;

}

nav ul {
    list-style: none;
    margin: -1px 0 0 0;
    padding: 0;
}

nav ul li {
    float: left;
    border-right: 1px solid #0473C9;
}

nav > div > ul > li > ul > li
{
    width: 100%;
}

nav > div > ul > li > a {
    padding: 5px 8px 9px;
    color: white;
    margin: 0 3px;


}

nav ul li ul li {
    float: none;
    width: 100%;
    color: black;
    padding: 0;
}


nav ul li ul li a {
    padding: 6px 10px;
    width: 180px;
    display: block;
    color: black;
    border-top: 1px solid #DBEAF9;
    border-bottom: 1px solid #DBEAF9;
}

nav ul li ul {
    display: none;
    background-color: #DBEAF9;
    border: 1px solid #1896D5;
    position: absolute;
    z-index: 1;
    width: 200px;
    margin: 5px 0 0 0;
}

nav ul li:hover ul {
    display: block;
}

nav > ul > li > a {
    color: #1F4B51;
    text-decoration: none;
    display: block;
    padding: 4px 8px;
    margin: 0 8px 0 0;
    font-weight: normal;
    text-transform: uppercase;
    float: left;
}


ul.dropdown li a img
{
    margin-top: 0px;
}

div.content-wrapper {
    background-color: white;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

section.content {
    padding: 10px;
    min-height: 300px;
}

div.breadcrumbs {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    height: 39px;
}

div.breadcrumbs ul {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;

    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #eeeeee 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#eeeeee 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */

    width: 959px;
}

div.breadcrumbs ul li {
    margin: 0;
    float: left;
    height: 29px;
    padding: 10px 15px 0 10px;

    background: url('../images/breadcrumb-arrow-dark.png') no-repeat top right, #ffffff; /* Old browsers */
    background: url('../images/breadcrumb-arrow-dark.png') no-repeat top right, -moz-linear-gradient(top,  #ffffff 0%, #dddddd 50%); /* FF3.6+ */
    background: url('../images/breadcrumb-arrow-dark.png') no-repeat top right, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#dddddd)); /* Chrome,Safari4+ */
    background: url('../images/breadcrumb-arrow-dark.png') no-repeat top right, -webkit-linear-gradient(top,  #ffffff 0%,#dddddd 50%); /* Chrome10+,Safari5.1+ */
    background: url('../images/breadcrumb-arrow-dark.png') no-repeat top right, -o-linear-gradient(top,  #ffffff 0%,#dddddd 50%); /* Opera 11.10+ */
    background: url('../images/breadcrumb-arrow-dark.png') no-repeat top right, -ms-linear-gradient(top,  #ffffff 0%,#dddddd 50%); /* IE10+ */
    background: url('../images/breadcrumb-arrow-dark.png') no-repeat top right, linear-gradient(to bottom,  #ffffff 0%,#dddddd 50%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
}

div.breadcrumbs ul li a {
    color: #0672BD;
    font-weight: bold;
}

div.breadcrumbs ul li a:hover {
    color: #069bf2;
}

div.breadcrumbs ul li:last-child {
    background: none;
}

div.breadcrumbs ul li:nth-last-child(2) {

    background: #ffffff; /* Old browsers */
    background: url('../images/breadcrumb-arrow.png') no-repeat top right, -moz-linear-gradient(top, #ffffff 0%, #dddddd 50%); /* FF3.6+ */
    background: url('../images/breadcrumb-arrow.png') no-repeat top right, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#dddddd)); /* Chrome,Safari4+ */
    background: url('../images/breadcrumb-arrow.png') no-repeat top right, -webkit-linear-gradient(top,  #ffffff 0%,#dddddd 50%); /* Chrome10+,Safari5.1+ */
    background: url('../images/breadcrumb-arrow.png') no-repeat top right, -o-linear-gradient(top,  #ffffff 0%,#dddddd 50%); /* Opera 11.10+ */
    background: url('../images/breadcrumb-arrow.png') no-repeat top right, -ms-linear-gradient(top,  #ffffff 0%,#dddddd 50%); /* IE10+ */
    background: url('../images/breadcrumb-arrow.png') no-repeat top right, linear-gradient(to bottom,  #ffffff 0%,#dddddd 50%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
}

div.breadcrumbs .home {
    padding: 0 10px 0 0;
    width: 40px;
    height: 39px;
    background-color: #ddd;
}

div.breadcrumbs .home a {
    float: left;
    width: 40px;
    height: 39px;
    background: url('../images/home.png') no-repeat center;
    padding: 0;
}

footer {
    height: 100px;
}

.info_table tr.clickable:hover {
	cursor: pointer;
	background-color: #6FD6DC;
}

.highlight {
	background-color: #6DD4DA !important;
}

fieldset {
	padding: 10px;
}

legend {
	margin: 0 0 0 10px;
	padding: 5px;
}

.welcome {
    float: right;
    color: white;
    padding: 4px 0 0 0;
}

.welcome a {
    color: white !important;
}

.welcome a:hover {
    color: #6FD6DC !important;
}

.btn {
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn-mini {
	font-size: 11px;
	line-height: 14px;
	padding: 2px 6px;
}


.btn {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background-color: #F5F5F5;
	background-image: -moz-linear-gradient(center top , #FFFFFF, #E6E6E6);
	background-repeat: repeat-x;
	border-color: #E6E6E6 #E6E6E6 #B3B3B3;
	border-image: none;
	border-radius: 4px 4px 4px 4px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
	color: #333333;
	cursor: pointer;
	display: inline-block;
	font-size: 13px;
	line-height: 18px;
	margin-bottom: 0;
	padding: 4px 10px;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
}
.btn-success {
	background-color: #5BB75B;
	background-image: -moz-linear-gradient(center top , #62C462, #51A351);
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
	background-color: #0055CC;
	background-image: -moz-linear-gradient(center top , #51A351, #51A351);
}

.btn-primary,
.btn-primary:hover,
.btn-warning,
.btn-warning:hover,
.btn-danger,
.btn-danger:hover,
.btn-success,
.btn-success:hover,
.btn-info,
.btn-info:hover,
.btn-inverse,
.btn-inverse:hover {
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.btn-primary {
	background-color: #0074CC;
	background-image: -moz-linear-gradient(center top , #0672BD, #045891);
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
	background-color: #0055CC;
	background-image: -moz-linear-gradient(center top , #0055CC, #0055CC);
}

.btn-danger {
	background-color: #da4f49;
	*background-color: #bd362f;
	background-image: -ms-linear-gradient(top, #ee5f5b, #bd362f);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
	background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
	background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
	background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
	background-image: linear-gradient(top, #ee5f5b, #bd362f);
	background-repeat: repeat-x;
	border-color: #bd362f #bd362f #802420;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#bd362f', GradientType=0);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
	background-color: #bd362f;
	background-image: none;
}

.btn-warning {
	background-color: #f89406;
	background-image: -ms-linear-gradient(top, #fbb450, #f89406);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
	background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
	background-image: -o-linear-gradient(top, #fbb450, #f89406);
	background-image: -moz-linear-gradient(top, #fbb450, #f89406);
	background-image: linear-gradient(top, #fbb450, #f89406);
	background-repeat: repeat-x;
	border-color: #f89406 #f89406 #ad6704;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fbb450', endColorstr='#f89406', GradientType=0);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-warning:hover,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
	*background-color: #df8505;
	background-image: none;
}

.non-ad-user,
.error {
	background-color: #ffdede !important;
    background-image: -ms-linear-gradient(top, #FFBFBF, #FF9393) !important;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFBFBF), to(#FF9393)) !important;
    background-image: -webkit-linear-gradient(top, #FFBFBF, #FF9393) !important;
    background-image: -o-linear-gradient(top, #FFBFBF, #FF9393) !important;
    background-image: -moz-linear-gradient(top, #FFBFBF, #FF9393) !important;
    background-image: linear-gradient(top, #FFBFBF, #FF9393) !important;
}

input[type="text"],
input[type="password"] {
    height: 20px;
    border-radius: 5px;
    border: 1px solid #0567AB;
    outline: none;
    position: relative;
    top: 1px;
}

input[type="text"],
input[type="password"] {
    padding: 4px;
}

select {
    padding: 3px;
}

.red {
    color: #aa0000;
}

.git_version {
    text-align: center;
    color: white;
    font-size: 10px;
    width: 100%;
    bottom: 0px;
    margin: 0 auto;
    position: absolute;
}

.leaf {
}

.parent {
    font-weight: bold;
    font-style: italic;
}

#existing-pictures li {
    width: 120px;
    height: 120px;
    float: left;
    margin: 3px;
    position: relative;
    list-style: none;
}

#existing-pictures li:first-child:after {
    content: "Primary";
    position: absolute;
    width: 100%;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    border-radius: 0 0 20px 20px;
}

#existing-pictures li img {
    position: absolute;
    border-radius: 20px;
}

#existing-pictures li:hover a {
    display: block;
}
#existing-pictures li a {
    display: none;
    width: 32px;
    height: 32px;
    background: url(/images/delete.png);
    position: absolute;
    right: -8px;
    top: -8px;
    z-index: 1000;
}

.admin_instruction {
    color: #666;
    font-style: italic;
}
/* START - Custom additions for ease of workflow while developing :: maestro */

.featured-listing {
    list-style: none;
}
.product-listing {
    list-style: none;
}
.category-description > ul {
    margin: 10px 0px 30px 380px;
}
.products-detail-main ul {
    list-style: none;
}
.shopping-cart ul {
    list-style: none;
}
.shopping-cart-buttons {
    list-style: none;
}
.shopping-cart-buttons li {
    display: inline-block;
}
.sidebar {
    min-height: 100%;
}
.sidebar ul {
    list-style: none;
    margin: 5px 10px 5px 10px;
    font-size: 11px;
}
.header-navigation ul {
    list-style: none;
    margin-left: 0;
}
.header-navigation ul > li {
    display: inline-block;
    text-align: left;
    padding: 0 20px 0 0;
}
.people {
    width: 750px;
}
.header-search {
    float: left;
}
.header-cart {
    float: left;
    margin-left: 20px;
    padding-top: 4px;
}
.people-left {
    float: left;
}
.people-right {
    float: right;
    text-align: right;
    margin: 20px 10px 0 0;
}
.products-row-listing {
    list-style: none;
}
.shopping-cart ul {
    list-style: none;
}
.shopping-cart-buttons {
    list-style: none;
}
.shopping-cart-buttons li {
    display: inline-block;
}

/* START - Custom additions for ease of workflow while developing :: maestro */