/*
Version 09.12.18
Version 10.03.31
	- Added "Inline Editing Forms" section
Version 10.05.14
	- Added white-space:nowrap to info_table th's
*/

/* -----------------------------------------------
	Forms
----------------------------------------------- */

form.tabmin_form {
	width: auto;
}

form.tabmin_form input[type=text], 
form.tabmin_form input[type=password] {
	width: 150px;
}

form.tabmin_form select {
	min-width: 150px;
}

form.tabmin_form textarea {
	width: 250px;
	height: 120px;
}

form .checkbox_multi_select {
	width: 400px;
	height: 120px;
	padding: 3px 0 0 3px;
	background-color: #fff;
	border: 1px solid #c0c0c0;
	border-top: 2px inset #808080;
	border-left: 2px inset #808080;
	overflow: auto;
	overflow-x: hidden;
}

form .checkbox_multi_select label {
	width: 100%;
	height: 20px;
	float: left;
}

form .checkbox_multi_select label.checked {
	background-color: #ccc;
}

form .checkbox_multi_select input[type=checkbox] {
	float: left;
}

/* -----------------------------------------------
	Inline Editing Forms
----------------------------------------------- */

form.inline_edit {
	
}

form.inline_edit.display_mode input,
form.inline_edit.display_mode select,
form.inline_edit.display_mode textarea,
form.inline_edit.display_mode label {
	display: none;
}

form.inline_edit.edit_mode .editable {
	display: none;
}

/* -----------------------------------------------
	Action Buttons
----------------------------------------------- */

.action_button {
	width: 16px;
	height: 16px;
	margin: 2px 2px;
	padding: 0;
	float: left;
}

.action_button * {
	margin: 0;
	padding: 0;
	display: inline;
    border: 0;
}

.action_button img {
	border: none;
}

/* -----------------------------------------------
	Location Suggestions
----------------------------------------------- */

.tabmin_suggest {
	position: absolute;
}

.tabmin_suggest select {
	width: 400px !important;
	position: absolute;
	z-index:100; 
	/*background-color: #bbd6f4;*/
	border: 1px black solid;
}

.tabmin_suggest option {
	padding-top: 5px;
	overflow: hidden;
	display: block;
	width: 100%;
	height: 20px;
	font-family: Arial, Helvetica, sans-serif;
}

ul.grid{
	list-style:none;
	width: 100%;
}

ul.grid li{
	width: 700px;
	background-color: #CCCCCC;
	margin-bottom: 3px;
	padding: 10px;
	float: left;
	clear:both;
}

ul.grid li .image {
	width: 146px;
	float: left;
}

ul.grid li .caption{
	float: left;
	width: 500px;
}

ul.grid li .buttons, ul.grid li .image_buttons {
	float: left;
	clear: both;
}

ul.grid li .image_buttons {
	margin-right: 10px
}

/* -----------------------------------------------
	Information Tables
----------------------------------------------- */

.info_table {
	width: 100%;
	border-collapse: collapse;
}

.info_table th {
	white-space: nowrap;
	text-align: left;
}

.info_table th,
.info_table td {
	border-bottom: 1px solid #999;
	padding: 2px 5px;
	vertical-align: top;
}

.info_table tr.dark {
	background-color: #EDEDED;
    background-image: -ms-linear-gradient(top, #D8EFFE, #6FC2FB);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#D8EFFE), to(#6FC2FB));
    background-image: -webkit-linear-gradient(top, #D8EFFE, #6FC2FB);
    background-image: -o-linear-gradient(top, #D8EFFE, #6FC2FB);
    background-image: -moz-linear-gradient(top, #D8EFFE, #6FC2FB);
    background-image: linear-gradient(top, #D8EFFE, #6FC2FB);
}

.info_table tr.light {
	background-color: #FEFEFE;
    background-image: -ms-linear-gradient(top, #ffffff, #dddddd);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#dddddd));
    background-image: -webkit-linear-gradient(top, #ffffff, #dddddd);
    background-image: -o-linear-gradient(top, #ffffff, #dddddd);
    background-image: -moz-linear-gradient(top, #ffffff, #dddddd);
    background-image: linear-gradient(top, #ffffff, #dddddd);
}

.info_table_header {
	text-align: left;
}

form .info_table th,
form .info_table td {
	border: none;
}

/* -----------------------------------------------
	Tooltips
----------------------------------------------- */

.tool {
	position: relative;   /* this is key */
}
 
.tool span.tip {
	display: none;        /* so is this */
}

/* tooltip will display on :hover event */
 
.tool:hover span.tip,  /* For everyone but You-Know-Who */
.tool span.tip_hover { /* For IE6 */
	display: block;
	z-index: 100;
	position: absolute;
	top: -3px;
	right: 20px;
	width: auto;
	padding: 3px 7px 4px 6px;
	border: 1px solid #333;
	background-color: #f7f4ed;
	font: normal 10px arial, helvetica, sans-serif;
	text-align: left;
	color: #000;
	text-decoration: none;
	white-space: nowrap;
}

span.tip:hover {
	display: none !important;
}
